# Entorno de ejecución (development, production, qa, test)
NODE_ENV=

# Puerto donde corre el servidor
PORT=

# Conexiones locales
API_URL=
DB_PATH=
LOCAL_STORAGE_PATH=

# Logs detallados para encontrar errores fácil (true/false)
DEBUG_MODE=
